<!DOCTYPE html>
<html lang="en" ng-app="playerWeb">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="bower_components/oi.multiselect/dist/multiselect.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div ng-controller="TabController" layout="column" style="height: 100%" class="sidenavdemoBasicUsage"
     ng-app="playerWeb">
    <section layout="row" flex="">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="true">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Administrative page</h1>
            </md-toolbar>
            <md-content flex>
                <md-button style="width: 100%" class="md-primary" ng-click="setTab(1,'/songs')">Songs</md-button>
                <md-button style="width: 100%" class="md-primary" ng-click="setTab(2,'/artists')">Artists</md-button>
                <md-button style="width: 100%" class="md-primary" ng-click="setTab(3,'/genres')">Genres</md-button>
                <md-button style="width: 100%" class="md-primary" ng-click="setTab(4,'/albums')">Albums</md-button>
            </md-content>
        </md-sidenav>

        <md-content flex="" layout-padding="">
            <div ng-view></div>
            <div flex=""></div>
        </md-content>
    </section>
</div>

</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.js"></script>
<script src="bower_components/oi.multiselect/dist/multiselect-tpls.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/album.js"></script>
<script src="js/controllers/artist.js"></script>
<script src="js/controllers/genre.js"></script>
<script src="js/controllers/song.js"></script>
<script src="js/controllers/tab.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/services/rest.js"></script>
</body>
</html>
