<p>Albums page TBD</p>


<div ng-show="false">
    <h4>Filter</h4>
    <fieldset class="form-group">
                <textarea ng-model="filterOptions.album" class="form-control"
                          placeholder="Write a name of album..." title="Name"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input ng-model="filterOptions.yearFrom" type="number" class="form-control" placeholder="From"
               title="Year" min="1900" max="3000"/>
        <input ng-model="filterOptions.yearTo" type="number" class="form-control" placeholder="To"
               title="Year" min="1900" max="3000"/>
    </fieldset>
    <fieldset class="form-group">
        <oi-multiselect ng-options="item for item in artists"
                        ng-model="filterOptions.artist" placeholder="Write a name of artist..."></oi-multiselect>
    </fieldset>
    <fieldset class="form-group">
        <oi-multiselect ng-options="item for item in genres"
                        ng-model="filterOptions.genres" multiple placeholder="Write a genre..."></oi-multiselect>
    </fieldset>
</div>

<div class="clear"></div>

<md-grid-list
        md-cols-gt-md="20"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile id="{{album.id}}" class="gray" ng-repeat="album in albums  | albumFilter:filterOptions"
                  md-rowspan="6" md-colspan="6">

        <section ng-hide="isEdit(album.id)">
            <div>{{album.name}} <span ng-show="album.year != null">({{album.year}})</span></div>
            <blockquote ng-show="album.artist != null">{{album.artist}}</blockquote>
            <span>Genres: </span>
            <md-chips ng-model="album.genres" readonly="true"></md-chips>
        </section>

        <form name="editForm" ng-enter ng-submit="editForm.$valid && editAlbum(album)" ng-show="isEdit(album.id) "
              novalidate>
            <md-input-container>
                <label>Album</label>
                <input required name="albumName" ng-model="album.name">

                <div ng-messages="editForm.albumName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Year</label>
                <input type="number" ng-model="album.year">
            </md-input-container>
            <md-autocomplete md-selected-item="album.artist" md-search-text="artistSearchText"
                             md-item-text="item" md-items="item in autocompliteQuery(artists, artistSearchText)">
                <md-item-template>
                    <span md-highlight-text="artistSearchText" md-highlight-flags="^i">{{item}}</span>
                </md-item-template>
            </md-autocomplete>

            <md-chips ng-model="album.genres" md-autocomplete-snap>
                <md-autocomplete
                        md-selected-item="selectedGenre"
                        md-search-text="genreSearchText"
                        md-items="item in autocompliteQuery(genres,genreSearchText)"
                        md-item-text="item">
                    <span md-highlight-text="genreSearchText">{{item}}</span>
                </md-autocomplete>
            </md-chips>
        </form>

        <md-grid-tile-footer layout-align="center center">
            <ng-grid-tile-footer object="album"></ng-grid-tile-footer>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="gray" ng-show="add" md-rowspan="6" md-colspan="6">
        <form name="addForm">
            <md-input-container>
                <label>Album</label>
                <input required name="newAlbumName" ng-model="newAlbum.name">

                <div ng-messages="addForm.newAlbumName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Year</label>
                <input type="number" ng-model="newAlbum.year">
            </md-input-container>
            <md-autocomplete md-selected-item="newAlbum.artist" md-search-text="artistSearchText"
                             md-item-text="item" md-items="item in autocompliteQuery(artists, artistSearchText)">
                <md-item-template>
                    <span md-highlight-text="artistSearchText" md-highlight-flags="^i">{{item}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found for "{{artistSearchText}}".
                </md-not-found>
            </md-autocomplete>

            <md-chips ng-model="newAlbum.genres" md-autocomplete-snap>
                <md-autocomplete
                        md-selected-item="newSelectedGenre"
                        md-search-text="newGenreSearchText"
                        md-items="item in autocompliteQuery(genres,newGenreSearchText)"
                        md-item-text="item">
                    <span md-highlight-text="newGenreSearchText">{{item}}</span>
                </md-autocomplete>
            </md-chips>

        </form>
        <md-grid-tile-footer>
            <md-button class="md-fab md-mini" ng-click="cancelAdd()">
                <i class="material-icons">clear</i>
            </md-button>

            <md-button class="md-fab md-mini" ng-click="addAlbum(newAlbum)">
                <i class="material-icons">done</i>
            </md-button>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
</div>


<div class="clear"></div>
<section ng-hide="add">
    <md-button class="md-fab md-mini" ng-click="isAdd(true)">
        <i class="material-icons">add</i>
    </md-button>
</section>
<section ng-show="add">
    <md-button class="md-fab md-mini" ng-click="cancelAdd()">
        <i class="material-icons">clear</i>
    </md-button>
</section>

