<p>Genres page TBD</p>

<div>
    <md-grid-list
            md-cols-gt-md="8"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="gray" ng-repeat="genre in genres">
            <h3 ng-hide="isEdit(genre.id)" class="md-primary">{{genre.name}}</h3>

            <form name="editForm" ng-show="isEdit(genre.id)">
                <md-input-container>
                    <input aria-label="genre" required name="genreName" ng-model="genre.name">

                    <div ng-messages="editForm.genreName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </form>

            <md-grid-tile-footer layout-align="center center">
                <ng-grid-tile-footer object="genre"></ng-grid-tile-footer>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="gray" ng-show="add">
            <form name="addForm">
                <md-input-container>
                    <label>Genre</label>
                    <input required name="genreName" ng-model="newGenre.name">

                    <div ng-messages="addForm.genreName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

            </form>
            <md-grid-tile-footer>
                <md-button class="md-fab md-mini" ng-click="cancelAdd()">
                    <i class="material-icons">clear</i>
                </md-button>

                <md-button class="md-fab md-mini" ng-click="addGenre(newGenre)">
                    <i class="material-icons">done</i>
                </md-button>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>


<div class="clear"></div>
<section ng-hide="add">
    <md-button class="md-fab md-mini" ng-click="isAdd(true)">
        <i class="material-icons">add</i>
    </md-button>
</section>
<section ng-show="add">
    <md-button class="md-fab md-mini" ng-click="cancelAdd()">
        <i class="material-icons">clear</i>
    </md-button>
</section>



